@model List<MakeupReviewApp.Models.Product>

<h2>Makeup Products</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <partial name="_ProductCard" model="product" />
    }
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadReviewForm(productId) {
            $.get('/Review/LoadReviewForm', { productId: productId }, function (html) {
                $('#review-container-' + productId).html(html);
            });
        }
    </script>
}